.name { 
    position: "relative";
    color: "white";
    opacity: 0.9;
    margin-top: "4rem";
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 10%;
    padding-bottom: 10%;
}

h1 {
    font-size: "2rem";
    font-weight: "bold";
    margin-bottom: "1rem";
}

p {
    font-size: "1rem";
    margin-bottom: "1.5rem";
}

.inputBox {
    width: "80%";
    padding: "0.5rem";
    margin-bottom: "1rem";
    border: "1px solid #ccc";
    border-radius: "4px";
    font-size: "1rem";
}

.signup {
    font-size: "1rem";
    color: "#61dafb";
}